h1{
    color : green;
    font-size : 24px;
}

p{
    background-color: blue;
    color : white;
    display: flexbox;
    
}
table{
    border-collapse: collapse;
}
th, td{
    border: 3px solid red;
    padding: 10px;
    background-color: orchid;
}
body{
    margin : 100px;
    background-image: url("Logo_IMT_Nord_Europe.png");
}